<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet"> 
    <style>
        *{
            background-color: black;
            color: blanchedalmond;
            font-family: 'Inconsolata', monospace;
            
        }
        .text{
            margin: auto;
            margin-top: 10%;
            width: 60%;
            padding: 10px;
            
        }
        a{
            text-decoration-line: underline;
            text-decoration-style:dashed;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration Quote Gen</title>
</head>
<body>
    <div class="text">
        <h1> <%= qt %></h1>
        <h3> --- <%= au %></h3><br>
        <button id="1a" onclick="window.location.reload()">Get another one</button>
    </div>


    <h6>App by <a href="https://github.com/EX1T-ZER0" target="_blank">EX1T_ZER0</a></h6>
</body>
</html>