<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration Quote Gen</title>
</head>
<body>
    <h1> <%= qt %></h1>
    <h3> ---<%= au %></h3>
<button onClick="window.location.reload()">Get another one</button>
</body>
</html>